* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
}

.container {
  display: flex;
  min-height: 100vh;
  flex-wrap: wrap;
  width: 100%;
}

.sidebar {
  background-color: rgb(115, 115, 172);
  flex-grow: 1;
  flex-basis: 15rem;
}

main {
  background-color: black;
  flex: 999;
  min-width: 60%;
}


/* header */

header {
  background-color: white;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header-top, .header-bottom {
  width: 90%;
  padding: 15px 0;
  grid-gap: min(5%, 15px);
}

header .icon {
  width: 23px;
}

.header-top {
  display: grid;
  grid-template-columns: 2fr 1.1fr;
}

.search-bar, .user {
  grid-gap: min(5%, 15px);
  align-items: center;
}

.profile-pic {
  border-radius: 100%;
}


/* .header-top .search-bar */

.search-bar {
  display: grid;
  grid-gap: min(2%, 15px);
  grid-template-columns: auto 1fr;
}

input {
  border: 0;
  min-width: 5px;
  background-color: rgb(185, 185, 185);
  border-radius: 20px;
  height: 28px;
}

/* .header-top .user */

.user {
  display: grid;
  justify-content: end;
  grid-template-columns: repeat(3, auto);
}

.user .profile-pic {
  max-width: 48px;
}

/* */


/* header-bottom */
.header-bottom {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
}

.profile {
  display: grid;
  grid-column-gap: min(2%, 15px);
  grid-template-columns: max-content auto;
  grid-template-rows: auto auto;
}

.profile .profile-pic {
  max-width: 60px;
  grid-row: 1 / 3;
}

.profile p {
  align-self: flex-end;
  font-weight: bold;
}

.profile-btn {
  display: flex;
  justify-content: end;
  gap: min(5%, 20px);
  flex-wrap: wrap;
}

.profile-btn button {
  background-color: black;
  color: white;

  border-radius: 18px;
  border: 0;
  padding: 10px;
  width: 85px;
  margin: 2px 0px;
  text-align: center;
}

/* sidebar */

.sidebar {
  display: grid;
  grid-auto-rows: min-content;
  grid-gap: 35px;
  padding: 20px;
}

.dashboard-header .icon {
  width: 50px;
}

.sidebar ul .icon {
  width: 25px;
}

ul, .dashboard-header {
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-column-gap: min(10%, 20px);
  align-items: center;
}

ul li, ul .icon {
  list-style: none;
  padding-bottom: 13px;
}

ul {
  padding-left: 10px;
}

/* projects */

section.projects {
  background-color: rgb(233, 233, 233);
}